<div class="container">
  <div class="row-fluid">
    <!-- main span -->
      <h1> 東京Ruby会議10 参加コミュニティー</h1>
      <br>
      <br>
      <h2>東京Ruby会議10 の参加コミュニティ一覧です。</h2>

      <ul>
        <li><a data-toggle="modal" href='#shibuya'>Shibuya.rb</a></li>
        <li><a data-toggle="modal" href='#shinjuku'>Shinjuku.rb</a></li>
        <li><a data-toggle="modal" href='#tokyu'>Tokyu.rb</a></li>
        <li><a data-toggle="modal" href='#minami'>Minami.rb</a></li>
        <li><a data-toggle="modal" href='#rubykaja'>RubyKaja</a></li>
        <li><a data-toggle="modal" href='#yokohama'>Yokohama.rb</a></li>
      </ul>
      <br>
      <h2>Tokyo Ruby Kaigi 10 - community friends</h2>
      <ul>
        <li><a data-toggle="modal" href='#yokohama_en'>Yokohama.rb(English)</a></li>
      </ul>

      <br>
      <br>
      <h2>参加特典</h2>
      <ul>
        <li>東京Ruby会議10 Webサイトで、コミュニティ情報を掲載します</li>
        <li>当日に設けるコミュニティ紹介時間で、コミュニティアピールができます</li>
      </ul>
      <br>
      <h2>参加コミュニティ申し込み方法</h2>
      参加コミュニティは、現在も募集中です。詳しくは、<a href="http://rubykaigi.tdiary.net/20120810.html#p01">こちら</a>をご覧ください。
      <br>
      <br>
      <h2>募集趣旨</h2>
      たのしい開発 スタートアップRubyというRubyの書籍でもコミュニティについてのチャプターがあるように、今日、Rubyに触れていく中でコミュニティ活動はいいプラクティスとなっています。<br><br>
      コミュニティにはそれぞれ特徴があります。その良さや素晴らしさはそのコミュニティの人の文章や言葉で発信してもらうのが、コミュニティを知ってもらう近道です。 そういうコミュニティの活動について、もっと広く深くみんなに知ってもらって、Rubyの活性化を加速させることができればと考えています。<br><br>
      この東京Ruby会議10では、Rubyに興味がある人が多く集います。 そこで、コミュニティとして東京Ruby会議10に参加いただいて、参加者にアピールしたりコミュニケーションをとったりしていただければ、コミュニティ活動に参加する新しい仲間がもっと増えるのではないかと思いました。<br><br>
      是非多くのコミュニティの東京Ruby会議10へのご参加をお待ちしています。<br><br>

      <!-- 本文はここまで -->

      <!-- shibuya modal -->
      <div class="modal hide fade" id='shibuya' tabindex="-1" role="dialog" ariahidden="true" aria-labelledby="shibuyaModalLabel">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="shibuyaModalLabel">Shibuya.rb</h3>
        </div>
        <div class="modal-body">
          <dl>
            <dt>Shibuya.rb とは</dt>
            <dd>
              Shibuya.rbは、渋谷近郊のRubyが好きだったり、Rubyの周辺技術が気になっている人のための地域Rubyistコミュニティです。
            </dd>
            <br>
            <dt>活動</dt>
            <dd>
              毎月第三水曜日に渋谷でミートアップを開催しています。<br>
              ミートアップでは、Rubyist同士の交流に主眼を置き、LTを交えたグループディスカッションなどを行っています。
            </dd>
          </dl>
        </div>
      </div>
      <!-- /shibuya modal -->
      <!-- Shinjuku -->
      <div class="modal hide fade" id='shinjuku' tabindex="-1" role="dialog" ariahidden="true" aria-labelledby="shinjukuModalLabel">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="shinjukuModalLabel">Shinjuku.rb</h3>
        </div>
        <div class="modal-body">
          <dl>
            <dt>Shinjuku.rb とは</dt>
            <dd>
              Shinjuku.rb は、新宿で開催されている地域Rubyコミュニティです。
              主に extreme fish bowl (公開ペアプログラミング) や、Rails レシピブック読書会などを活動内容としています。
            </dd>
            <br>
            <dt>中心的な運営メンバー</dt>
            <dd>
              @mewlist, @tatsuoSakurai, @shishi4tw が主に運営に当たっています。
            </dd>
            <br>
            <dt>ハッシュタグ</dt>
            <dd>#shinjukurb</dd>
            <br>
            <dt>Web ページなど</dt>
            <dd>
              URL: <a href="https://groups.google.com/forum/?hl=ja&fromgroups#!forum/shinjukurb">https://groups.google.com/forum/?hl=ja&fromgroups#!forum/shinjukurb</a><br>
              URL: <a href="https://www.facebook.com/groups/shinjuku.rb/">https://www.facebook.com/groups/shinjuku.rb/</a>
            </dd>
          </dl>
        </div>
      </div>
      <!-- /Shinjuku -->
      <!-- Tokyu -->
      <div class="modal hide fade" id='tokyu' tabindex="-1" role="dialog" ariahidden="true" aria-labelledby="tokyuModalLabel">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="tokyuModalLabel">Tokyu.rb</h3>
        </div>
        <div class="modal-body">
          <dl>
            <dt>主たる開催地域</dt>
            <dd>東京</dd>
            <br>
            <dt>勉強会名称／主催者名称／連絡先</dt>
            <dd>
              主催者 河野 誠(@ginkouno), 小川 伸一郎(@conceal_rs)<br />
              連絡先 @ginkouno, @conceal_rs
            </dd>
            <br>
            <dt>勉強会の目的／背景</dt>
            <dd>
              Tokyu.rbは東急線沿線(乗り入れも含む)に住まうRubyist(Rubyを使う人々)が集まるコミュニティです。他のいわゆる勉強会とは異なり、集まって何か技術的なことを勉強するわけではなく、1.5月〜2月に1回集まって肉と酒を嗜むのが主な目的です。またこれまでに2回TokyuRubyKaigiという、地域Ruby会議を開催しています。パッと見たところ、ただの飲み会になってしまっていますが、何度かの変遷を経て、この形態に至りました。
            </dd>
            <br>
            <dt>設立の背景</dt>
            <dd>もともとTokyu.rbは、Ruby会議2008のAsakusa.rbやAkasaka.rbに触発され、帰る途中で当時同僚であった@ginkounoさんと「Rubyの勉強会のコミュニティ作りますか」と話し合ったことがきっかけで初まりました。当初は勤務地の最寄り駅である「Midorigaoka.rb」にしようと話していたのですが、どうせなら沿線にしようと「Tokyu.rb」と決まりました。目的としては、もくもくとコーディングしたり、Seattle.rbのようにプロダクトを発表したりと、エンジニアリングを中心とした活動にしようと考えて開催していました。<br>
              <br>
              ところが自由が丘のビアバーでのもくもくコーディング形式にして開催したところ、徐々に参加人数が減少してきてしまいました。そこでと言うわけではないですが、4回目から居酒屋で集っていろいろ話しをしてみることに。すると、その後の忘年会と新年会を挟んで、多くの方が訪ずれてくれるようになりました。いろんな人と話しをするなかで、「勉強会だと、ちょと行き辛さを感じる」や「セミナーや勉強会だと、気軽に話しができない」といった意見を聞くことができました。それであればと、「肉と酒を嗜みならが、Rubyや技術的なことについて話をし、親睦深め、交流をする場にしようか」ということになりました。このあたりから目黒に開催場所を移したことも功を奏して、多くの方に参加し、交流を深められるようになりました。また近頃はお酒を飲まない人も多いのですが、Tokyu.rbでは肉も主体とすることで、お酒が飲めなくても楽しめることも一因となっていると考えています。<br>
              <br>
              このような経緯で現在の形態に到達したわけですが、勉強会の目的の一つである「エンジニア同士の交流を深める」ことに特化した形ではないかと考えています。
            <dd>
              <br>
              <dt>
                これまでの成果
              </dt>
            <dd>
              定期的なTokyu.rbの開催だけではなく、TokyuRubyKaigiという地域Ruby会議を5回開催しています。
            </dd>
            <br>
            <dt>
              今後の目標
            </dt>
            <dd>
              Tokyu.rbは交流こそがコミュニティにとって一番重要であると考えて、さらに幅広い参加者に来ていただけるように、宣伝活動をしていきたいと考えています。またTokyuRubyKaigiも継続的に開催し、敷居の低さを維持し、さらに交流ができればと考えています。
            </dd>
            <br>
            <dt>
              参加方法と私たちからのメッセージ
            </dt>
            <dd>
              まずはqwikにご参加ください。ここで告知を行っています。<br>
              <br>
              Tokyu.rb<br>
              http://qwik.jp/tokyurb/<br>
              <br>
              またTokyu.rb自体は、基本的にATNDで募集しますので、そちらで参加登録してください。Rubyistでなくとも、ちょっとでもRubyに興味がある方や、東急沿線でない方まで、どなたでも参加可能です。みなさんのご参加を心からお待ちしています。
            <dd>
          </dl>

        </div>
      </div>
      <!-- /Tokyu -->
      <!-- Minami -->
      <div class="modal hide fade" id='minami' tabindex="-1" role="dialog" ariahidden="true" aria-labelledby="minamiModalLabel">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="minamiModalLabel">Minami.rb</h3>
        </div>
        <div class="modal-body">
          <dl>
            <dt>Minami.rb とは</dt>
            <dd>
              Railsを中心に、webアプリを作るためのネタならDBでもデザインでもなんでもやります。初心者から中上級者まで楽しめるようにいろいろ用意しておりますので、大阪へお越しの際はぜひお立ち寄りください。
            </dd>
            <br>
            <dt>コミュニティURL</dt>
            <dd><a href="http://qwik.jp/minamirb/FrontPage.html">http://qwik.jp/minamirb/FrontPage.html</a></dd>
            <br>
            <dt>おもな開催地域</dt>
            <dd>大阪・ミナミ</dd>
            <br>
            <dt>ハッシュタグ</dt>
            <dd>#minamirb</dd>
            <br>
            <dt>活動</dt>
            <dd>
              <dl> 
                <dt>隔月勉強会</dt>
                <dd>隔月でどこかの週末午後に開かれる勉強会。ハンズオン＋小ネタ２本構成。</dd>
                <dt>初心者レッスン</dt>
                <dd>隔月勉強会の日の午前中に開かれるRails初心者向けレッスン。全5回で何か一つRailsアプリを作成。少人数制。</dd>
                <dt>Rails Hackathon</dt>
                <dd>半年に１度のペースで開かれるRails Hackathon。他の.rbコミュニティーと共催（遠征）もあり。</dd>
                <dt>業務後ティータイム</dt>
                <dd>ぼ隔週水曜日の業務後にCDD(Cake Driven Development)での自習タイム。＊ML登録者のみ＊</dd>
              </dl>
            </dd>
            <br>
            <dt>分科会</dt>
            <dd>
              <dl>
                <dt>英語はおかず</dt>
                <dd>ITをネタにした英語の勉強会。＊ML登録者のみ＊</dd>
                <dt>数学のちライス（2013年1月より開催予定）</dt>
                <dd>プログラミングに通じる数学の勉強会</dd>
              </dl>
            </dd>
            <br>
            <dt>番外編</dt>
            <dd>
              <dl>
                <dt>サントリー山崎蒸留所見学ツアー</dt>
                <dd>ウィスキーを飲みに行きます</dd>
                <dt>日本酒酒蔵ツアー</dt>
                <dd>日本酒も飲みに行きます</dd>
              </dl>
              （夏はビールフェスとかも行きます。）
            </dd>
          </dl>
        </div>
      </div>
      <!-- /Minami -->
      <!-- RubyKaja -->
      <div class="modal hide fade" id='rubykaja' tabindex="-1" role="dialog" ariahidden="true" aria-labelledby="rubyKajaModalLabel">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="rubyKajaModalLabel">RubyKaja</h3>
        </div>
        <div class="modal-body">
          <dl>
            <dt>RubyKaja運営コミュニティ</dt>
            <dd>
              RubyKajaというプロジェクトを運営しています。<br>
              各Rubyコミュニティからの応募受付やRubyKajaの発表を行ったりしています。
            </dd>
            <br>
            <dt>URL</dt>
            <dd>http://kaja.rubyist.net/</dd>
            <br>
            <dt>ハッシュタグ</dt>
            <dd>#rubykaja</dd>
          </dl>

        </div>
      </div>
      <!-- /RubyKaja -->
      <!-- Yokohama.rb -->
      <div class="modal hide fade" id='yokohama' tabindex="-1" role="dialog" ariahidden="true" aria-labelledby="yokohamaModalLabel">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="yokohamaModalLabel">Yokohama.rb</h3>
        </div>
        <div class="modal-body">
          <dl>
            <dt>Yokohama.rb とは</dt>
            <dd>
              毎月1回、横浜周辺のRuby技術者が集まってRubyに関する何かをする<br>コミュニティです。<br>定例として「Rubyレシピブック」の読書会をやってますが<br>各自思い思いのことをもくもくとやっています。<br>定期的に初参加の方が来られ、また、懇親会の参加率が<br>8割を超えるRubyコミュニティでもあります。<br>
            </dd>
            <br>
            <dt>主な開催場所</dt>
            <dd>横浜市神奈川地区センター（和室）</dd>
            <br>
            <dt>ハッシュタグ</dt>
            <dd>#yokohamarb</dd>
            <br>
            <dt>中心的な運営メンバー</dt>
            <dd>@dan5ya , @yokohamarb</dd>
          </dl>
        </div>
      </div>
      <!-- /Yokohama.rb -->
      <!-- Yokohama.rb(English) -->
      <div class="modal hide fade" id='yokohama_en' tabindex="-1" role="dialog" ariahidden="true" aria-labelledby="yokohamaEnModalLabel">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <h3 id="yokohamaEnModalLabel">Yokohama.rb(English)</h3>
        </div>
        <div class="modal-body">
          <dl>
            <dt>What's Yokohama.rb</dt>
            <dd>
            Yokohama.rb is a regional Rubyist group for developers living in and around Yokohama, Japan.<br>While there is no fixed plan for how we will continue and grow, currently we usually approach our meetups as follows:
            <ul><li>Meet once per month (Usually the second Saturday of each month)</li>
                <li>We do not assign specific activities, but we are usually studying some part of the Ruby programming language.</li>
                <li>After our meetup, we usually go out for dinner and drinks.</li></ul>
            </dd>
            <br>
            <dt>Location</dt>
            <dd>Yokohama District Center (Tatami Room)</dd>
            <br>
            <dt>Hashtag</dt>
            <dd>#yokohamarb</dd>
            <br>
            <dt>Management Member</dt>
            <dd>@dan5ya , @yokohamarb</dd>
          </dl>
        </div>
      </div>
      <!-- /Yokohama.rb(English) -->
   <!-- / main span -->
  </div>
</div>
