<!-- body -->
<style type="text/css">
  .lead { font-weight: bold; font-size: larger }
</style>
<header class="bigtitle subhead" id="overview">
  <div class="container">
    <img src="/img/title.png" alt ='東京Ruby会議10 “話そう、集まろう、いつものRuby、日常のRuby”'>
  </div>
</header>
<div class="container">
  <section>
    <div class='page-header'>
      <h1>開催概要</h1>
    </div>
    <div class="lead">
      <p>東京Ruby会議10の全会期が終了しました！</p>
      <p>参加してくださった皆様、登壇していただいたスピーカー・ワークショップの皆様、ご支援していただいたスポンサー様、ありがとうございました！</p>
    </div>
    <div>
      <p>「東京Ruby会議10」は東京地域で10個目となる国内最大級の地域Ruby会議です。</p>
      <p>東京圏で在住・活動している方を中心に会期二日間のべ800人規模で一同に会し、日々の活動や技術についての発表、議論、参加者同士の交流を行う大規模な催しカンファレンスです。</p>
      <p>Rubyに興味がある人たちで集まり、日頃行なっていることや普段活用している技術についての話をして、2013年の活動をブーストしていきましょう！</p>
    </div>
    <br />

    <div class='page-header'>
      <h2>東京Ruby会議10 1日目・2日目</h2>
    </div>
    <div>
      <ul>
        <li>名称: 東京Ruby会議10</li>
        <li>主催: 東京Ruby会議10実行委員会</li>
        <li>会期: 2013/01/13(日)～14(祝・月）2日間</li>
        <li>会場: <a href="https://maps.google.co.jp/maps?q=%E5%8D%83%E8%91%89%E5%B8%82%E7%BE%8E%E6%B5%9C%E3%83%9B%E3%83%BC%E3%83%AB&hl=ja&ie=UTF8&ll=35.636093,140.107269&spn=0.782392,0.896759&sll=35.637232,140.046896&sspn=0.097799,0.112095&brcurrent=3,0x60229b5fd61b9511:0x1cb677dbffe07bbe,0&hq=%E5%8D%83%E8%91%89%E5%B8%82%E7%BE%8E%E6%B5%9C%E3%83%9B%E3%83%BC%E3%83%AB&t=m&z=10" target='_blank'>千葉市美浜文化ホール</a> メインホール 2F,会議室 4F, リハーサル室 4F</li>
        <li>検見川浜駅(JR京葉線) 徒歩5分</li>
        <li>JR東京駅から乗り換えなしの約30分</li>
        <li>公式ハッシュタグ: <a href='https://twitter.com/#!/search/realtime/%23tkrk10' target='_blank'>#tkrk10</a></li>
        <li>BlogやFlickrへの公式タグ：tokyorubykaigi10</li>
        <li>公式サイト: <a href='http://tokyo10.rubykaigi.info'>http://tokyo10.rubykaigi.info</a></li>
        <li>参加費: 1,000円</li>
        <li>配信：行いません</li>
        <li>懇親会: <a href="http://tokyorubykaigi.doorkeeper.jp/events/2088">事前懇親会（通称：序）</a>、<a href="http://tokyorubykaigi.doorkeeper.jp/events/2336">事後懇親会（通称：Q）</a></li>
        <li>定員: 約400人</li>
      </ul>
      <p><a href="https://speakerdeck.com/tokyorubykaigi10/tkrk10-for-attendees">参加者向けのオンラインパンフレット</a>もございますのでご一読ください。</a></p>
    </div>

    <div class='page-header'>
      <h2>東京Ruby会議10 3日目<br/>「シン・東京Ruby会議10 劇場版 ||=」</h2>
    </div>
    <div>
      <div>
        <h3>3日目によせて</h3>
        <p>Ruby2.0リリースを控えたこの2月、「話そう、集まろう、いつものRuby、日常のRuby」のテーマのもと、豪雪のため2日目果たせなかった発表を補完し、Rubyに興味がある人たちで集まり、日頃行なっていることや普段活用している技術について交流しましょう！</p>
        <h3>開催情報</h3>
        <ul>
          <li>会期：2013/2/10(日) 3 日目</li>
          <li>会場：<a href="http://goo.gl/maps/tajuQ">渋谷区文化総合センター大和田</a>さくらホール</li>
          <li>渋谷駅から徒歩5分</li>
          <li>JR東京駅から乗り換えなしの約25分(山手線)</li>
          <li>公式ハッシュタグ: <a href='https://twitter.com/#!/search/realtime/%23tkrk10' target='_blank'>#tkrk10</a></li>
          <li>BlogやFlickrへの公式タグ：tokyorubykaigi10</li>
          <li>公式サイト <a href='http://tokyo10.rubykaigi.info'>http://tokyo10.rubykaigi.info</a></li>
          <li>参加費：無料</li>
          <li>配信：行いません</li>
          <li>定員：約730人</li>
        </ul>
      </div>
    </div>
    <!-- modal 用 表示されません -->
    <div id="ohwada" class="modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h2>大和田Ruby会議を開催します！</h2>
      </div>
      <div class="modal-body">
        <p>2/10(日)の晩、東京Ruby会議10 3日目（会場：渋谷区文化総合センター 大和田 さくらホール 開場18:45 開会19:15）の開会直前の19時頃に、大和田Ruby会議を開催します。</p>
        <h3>大和田Ruby会議 開催情報</h3>
        <p><a href="http://rubykaigi.tdiary.net/20130203.html#p01">RubyKaigi日記のアナウンスをご参照ください。</a></p>
        <h3>発表者情報</h3>
        <table class="table">
          <tr>
            <th width="100px">名前</th>
            <td>大和田純</td>
          </tr>
          <tr>
            <th>Twitter</th>
            <td><a href="http://twitter.com/june29/">@june29</a></td>
          </tr>
          <tr>
            <th>URL</th>
            <td><a href="http://june29.jp/">http://june29.jp/</a></td>
          </tr>
          <tr>
            <th>所属</th>
            <td>Ruby札幌</td>
          </tr>
          <tr>
            <th>発表タイトル</th>
            <td>Ruby cruising Love</td>
          </tr>
          <tr>
            <th>発表概要</th>
            <td>Rubyistである私が、プログラマとしてどんなことを考えて過ごしているか。あるいは、Rubyistである私が、人間としてどんなことを考えて過ごしているかをお話します。</td>
          </tr>
        </table>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">閉じる</a>
      </div>
    </div>
    <!-- /modal 用 表示されません -->
  </section>
  </section>

  <section>
    <div class='page-header'>
      <h2>一般参加チケット(3日目）</h2>
    </div>
    <div>
      <p><a href='http://tokyorubykaigi.doorkeeper.jp/events/2603'>シン・東京Ruby会議10 劇場版 ||=</a></p>
      <p>本編(1日目、2日目）のチケット申し込みをされている方は申し込み不要です。</p>
    </div>
  </section>

  <section>
    <div class='page-header'>
      <h2>スポンサー募集</h2>
    </div>
    <div>
      <p>
        東京Ruby会議10のすべてのスポンサー枠について募集を終了しました。スポンサーになっていただいた企業様は<a href="/sponsor.html">スポンサー一覧</a>のページに掲載させていただいております。
      </p>
    </div>
  </section>
  <section>
    <div class='page-header'>
      <h2><%= t(:timetable) %></h2>
    </div>
    <% if I18n.locale == :en %>
      <div class="alert alert-notice">
        <h3>Assistance Required!</h3>
        <p>The translations of the titles of the presentations were translated in a best effort manner. Help improving the translations would be greatly appreciated. You can help out by forking the site's repo and updating the <a href="https://github.com/tkrk10/tkrk10/tree/master/speakers">session translations</a>. If you have any questions, feel free to contact us at tokyo10 at rubykaigi dot org.</p>
      </div>
    <% end %>
    <div id="message">
      <p>今回のテーマは「話そう、集まろう、いつものRuby、日常のRuby」です。どんなエンジニアでも、日常的にプログラミングに触れていれば何かしら人に伝えられることがあると思います。そんな日常の話を手に、発表の場に飛び込んでもらうきっかけになりたいという想いのもと、東京Ruby会議10は企画されました。</p>
      <p>スピーカーセッションの決定にあたっては、「東京Ruby会議10だからこそ聴きたい」と思ったものを実行委員たちで選ばせていただきました。その結果、練達のプログラマーから新しいことに挑むフレッシュなエンジニアまで、エンジニアの多い東京地域を象徴するかのような多彩なセッション構成となりました。</p>
    </div>
    <% [:third_day].each_with_index do |day, i| %>
      <h3><%= t(day) %></h3>

      <table class="timetable table table-condensed table-striped table-bordered">
        <tr>
          <th class="time"></th>
          <th class="content"><%= t(:main_hall) %></th>
        </tr>
        <% @sessions[i].each do |timetable_session| %>
          <%= erb :_timetable_session, locals: { timetable_session: timetable_session } %>
        <% end %>
      </table>
    <% end %>
  </section>
  <section>
    <div class='page-header'>
      <h2>Special Thanks</h2>
    </div>
    <div>
      <ul>
        <li>バッジ・デザイン : 熊野亜由美  <a href="https://twitter.com/ayumiko">@ayumiko</a></li>
      </ul>
    </div>
  </section>
  <section>
    <div class='page-header'>
      <h2>東京Ruby会議10 実行委員会について</h2>
    </div>
    <div>
      <p>東京Ruby会議10実行委員会は、東京Ruby 会議10 の企画・運営を行うために結成した非営利のプロジェクトチームです。東京Ruby会議10の開催を通して、個人、企業、Rubyコミュニティを活性化することを目的の一つとしています。</p>
      <p>チームメンバーは有志によるボランティアで構成されています。</p>
      <p>ご提案、ご相談、ご質問などはお気軽に tokyo10 at rubykaigi.org までメールにてお問い合わせください。</p>
      <ul>
        <li>小芝敏明:実行委員長 <a href="http://twitter.com/bash0C7">@bash0C7</a></li>
        <li>櫻井達生 <a href="http://twitter.com/tatsuoSakurai">@tatsuoSakurai</a></li>
        <li>池田正人 <a href="http://twitter.com/ikm">@ikm</a></li>
        <li>佐々木達也:会計  <a href="http://twitter.com/sasata299">@sasata299</a></li>
        <li>岩本政樹 <a href="http://twitter.com/masaki925">@masaki925</a></li>
        <li>Paul McMahon <a href="http://twitter.com/pwim">@pwin</a></li>
        <li>牧野裕之 <a href="http://twitter.com/kuromatu">@kuromatu</a></li>
        <li>近藤美沙 <a href="http://twitter.com/_zoo">@_zoo</a></li>
        <li>菅井祐太朗:るびまレポート担当  <a href="https://twitter.com/hokkai7go">@hokkai7go</a></li>
        <li>海江田兼輔  <a href="https://twitter.com/Qooh0">@Qooh0</a></li>
        <li>アドバイザー：小川伸一郎  <a href="http://twitter.com/conceal_rs">@conceal_rs</a></li>
        <li>ロゴ・ノベルティデザイン：長谷川 綾子 </li>
      </ul>
    </div>
  </section>
</div>
<!-- /body -->
<!-- <script src="../public/js/jquery.js"></script> -->
<script>
$(function () {
  $('#ohwada').modal()
});
</script>
