<!-- body -->
<header class="bigtitle subhead" id="overview">
  <div class="container">
    <img src="/img/title.png" alt ='東京Ruby会議10 “話そう、集まろう、いつものRuby、日常のRuby”'>
  </div>
</header>
<div class="container">
  <section>
    <div class='page-header'>
      <h1>開催概要</h1>
    </div>
    <div>
      <p>「東京Ruby会議10」は東京地域で10個目となる国内最大級の地域Ruby会議です。</p>
      <p>東京圏で在住・活動している方を中心に会期二日間のべ800人規模で一同に会し、日々の活動や技術についての発表、議論、参加者同士の交流を行う大規模な催しカンファレンスです。</p>
      <p>Rubyに興味がある人たちで集まり、日頃行なっていることや普段活用している技術についての話をして、2013年の活動をブーストしていきましょう！</p>
    <h2>開催情報</h2>
    <div>
      <ul>
        <li>名称: 東京Ruby会議10</li>
        <li>主催: 東京Ruby会議10実行委員会</li>
        <li>会期: 2013/01/13(日)～14(祝・月）2日間</li>
        <li>会場: <a href="https://maps.google.co.jp/maps?q=%E5%8D%83%E8%91%89%E5%B8%82%E7%BE%8E%E6%B5%9C%E3%83%9B%E3%83%BC%E3%83%AB&hl=ja&ie=UTF8&ll=35.636093,140.107269&spn=0.782392,0.896759&sll=35.637232,140.046896&sspn=0.097799,0.112095&brcurrent=3,0x60229b5fd61b9511:0x1cb677dbffe07bbe,0&hq=%E5%8D%83%E8%91%89%E5%B8%82%E7%BE%8E%E6%B5%9C%E3%83%9B%E3%83%BC%E3%83%AB&t=m&z=10" target='_blank'>千葉市美浜文化ホール</a> メインホール 2F,会議室 4F, リハーサル室 4F</li>
        <li>検見川浜駅(JR京葉線) 徒歩5分</li>
        <li>JR東京駅から乗り換えなしの約30分</li>
        <li>公式ハッシュタグ: <a href='https://twitter.com/#!/search/realtime/%23tkrk10' target='_blank'>#tkrk10</a></li>
        <li>公式サイト: <a href='http://regional.rubykaigi.org/tokyo10'>http://regional.rubykaigi.org/tokyo10</a></li>
        <li>参加費: 検討中</li>
        <li>配信：検討中</li>
        <li>懇親会: 検討中</li>
        <li>定員: 約400人</li>
      </ul>
    </div>
  </section>

  <section>
    <div class='page-header'>
      <h2>Goldスポンサー募集中</h2>
    </div>
    <div>
      <p>東京Ruby会議10のRubyスポンサー、Platinumスポンサーの募集は応募多数のため終了しました。<br />
      現在、Goldスポンサーのみ募集を行なっております。</p>

      <p><a href='https://speakerdeck.com/u/tokyorubykaigi10/p/tokyorubykaigi10-call-for-sponsers' target='_blank'>東京Ruby会議10スポンサーシップのご案内</a>をご一読いただき、tokyo10 _at_ rubykaigi.org 宛にメールでお申し込みください。締め切りは2012年11月末を予定しています。</p>
    </div>
  </section>
  <section>
    <div class='page-header'>
      <h1>当日スタッフ募集</h1>
    </div>
    <div>
      <p>東京Ruby会議10では、若干名の当日スタッフを募集します。</p>
      <p>当日の設営・準備から会期中の進行や終了後の撤収をつつがなく行えるようにするためのサポートするお仕事になります。 当日スタッフはチケット（と懇親会チケット）の購入が不要です。</p>
      <p>ただし、担当によっては見ることの出来ないセッションもあるかもしれないことをご了承下さい。 応募いただいた中から選考結果をメールにてお知らせいたします。</p>

      <h2>応募方法</h2>
      <p><a href='http://kokucheese.com/event/index/52372/' target='_blank'><strong>こちらのフォームから応募ください</strong></a></p>
      <p>募集締め切りは 2012 年 10 月 10 日 24:00 JST です。東京Ruby会議実行委員会で選考後、選考結果をメールにてお知らせいたします</p>
    </div>
  </section>
  <section>
    <div class='page-header'>
      <h1>レポート班募集中</h1>
    </div>
    <div>
      <p>東京Ruby会議10 のレポート班を若干名募集します。</p>
      <p>レポート班として参加したいなぁと、ちょっとでも思われた方はぜひ応募してください。お待ちしております。また、申込者多数の場合は、選考となります。あらかじめご了承ください。</p>

      <h2>応募方法</h2>
      <p><a href='http://kokucheese.com/event/index/52238/'><strong>こちらからご応募ください。</strong></a></p>
      <p>募集締め切りは2012 年 9 月 30 日 03:00 JSTです。東京Ruby会議10実行委員会で選考後、10月上旬ごろ発表します。</p>
    </div>
  </section>
  <section>
    <div class='page-header'>
      <h2>東京Ruby会議10 実行委員会について</h2>
    </div>
    <div>
      <p>東京Ruby会議10実行委員会は、東京Ruby 会議10 の企画・運営を行うために結成した非営利のプロジェクトチームです。東京Ruby会議10の開催を通して、個人、企業、Rubyコミュニティを活性化することを目的の一つとしています。</p>
      <p>チームメンバーは有志によるボランティアで構成されています。</p>
      <p>ご提案、ご相談、ご質問などはお気軽に tokyo10 at rubykaigi.org までメールにてお問い合わせください。</p>
      <ul>
        <li>小芝敏明:実行委員長 <a href=""></a></li>
        <li>櫻井達生 <a href="http://twitter.com/tatsuoSakurai">@tatsuoSakurai</a></li>
        <li>池田正人  <a href="http://twitter.com/"></a></li>
        <li>佐々木達也:会計  <a href="http://twitter.com/sasata299">@sasata299</a></li>
        <li>岩本政樹  <a href="http://twitter.com/"></a></li>
        <li>Paul McMahon  <a href="http://twitter.com/pwim">@pwin</a></li>
        <li>牧野裕之  <a href="http://twitter.com/"></a></li>
        <li>近藤美沙  <a href="http://twitter.com/"></a></li>
        <li>菅井祐太朗:るびまレポート担当  <a href="https://twitter.com/hokkai7go">@hokkai7go</a></li>
        <li>海江田兼輔  <a href="https://twitter.com/Qooh0">@Qooh0</a></li>
        <li>アドバイザー：小川伸一郎  <a href="http://twitter.com/conceal_rs">@conceal_rs</a></li>
      </ul>
    </div>
  </section>
</div>
<!-- /body -->
<!-- <script src="../public/js/jquery.js"></script> -->
