<style text="text/css">
  span.strike {
    color: gray;
    text-decoration: line-through;
  }
  div.container p {
    line-height: 1.8;
  }
  div.container li {
    padding-top: 8px;
  }
  div.container dd {
    padding-top: 8px;
  }
  div.container dt {
    padding-top: 8px;
  }
</style>
<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h1>地元Ruby会議</h1>
      <p class="lead">
        2日目 1/14(月・祝) 19:00-20:30 2F メインホール
      </p>
    </div>
    <div>
      <h2>開催趣旨</h2>
      <p class="lead">
        東京にいるからこそ、地元のことを語ろうよ
      </p>
      <p>
        東京に住んではいても、実は地方から出てきた人って多くないですか？
        そんな人達は地元に帰れば地元の方言を使って会話しているはずです。
        むしろ東京に来ているから無理して標準語しゃべってませんか？
        そんな人達の<span class="strike">あるかどうかは不明な</span>
        「東京にいるのに実は地方の奴らばかりだ」という熱い気持ちに応え、東京Ruby会議10の最後を飾る「地元Ruby会議」を開催します。
      </p>
      <p>
        喋りたい人がいつもの言葉で喋りたいことを喋るだけ。
        Rejectされた方も、Rejectされてない方も、ここでしか言えないことを言ってみませんか？
        資料などなくても、熱く語れればそれで十分。お気軽に発表登録してみてください。また当日の現場での飛び込みもお待ちしています。
      </p>

      <h2>参加条件</h2>
      <p>
        参加条件はとくにありませんが、発表するときには以下の点に注意してください。
      </p>
      <ul>
        <li>出身地を申告してください。</li>
        <li>
          発表方法は以下の2種類限ります。
          <ul>
            <li>地元の方言で話す</li>
            <li>地元のことを話す(方言は自由)</li>
          </ul>
        </li>
      </ul>

      <h2>Q&A</h2>
      <dl>
        <dt>RejectKaigiとは違うのですか？</dt>
        <dd>そんなちいさなことに捕らわれていてはいけません。</dd>
        <dt>TokyuRubyKaigiとは違うのですか？</dt>
        <dd>司会が同じで雰囲気が似ていても、酒と肉が無いので残念ながら異なります。</dd>
        <dt>話したいけど自信がないのですが...</dt>
        <dd>バンジーも飛び降りないとその恐怖はわかりませんよ？</dd>
        <dt>内容は何でもいいってほんとですか？</dt>
        <dd>公序良俗に反しない限り、なんでも大丈夫です。ただし方言でお願いします。</dd>
        <dt>方言忘れてしまったんですが...</dt>
        <dd>地元に帰った時や親や親戚とあったときを思い出してください。</dd>
        <dt>方言が標準語の場合は？</dt>
        <dd>ワイルドカードみたいな感じです。ただしあとで「あいつ、○○出身じゃなかったっけ？」とか「○○って標準語だっけ？」とかならない程度にお願いします。</dd>
        <dt>地元のことならなんでもいいんですか？</dt>
        <dd>公序良俗ｎ（ｒｙ。 </dd>
      </dl>
    </div>
  </div>
</div>
