<style text="text/css">
  span.strike {
  color: gray;
  text-decoration: line-through;
  }
  .important {
  font-weight: bold;
  color: #990c0c;
  font-size: 18px;
  margin: 8px 0;
  display: block;
  }
  .kuro img {
  margin: 20px 0;
  width: 120px;
  height: 120px;
  }
  div.container p {
  line-height: 1.8;
  }
  div.container li {
  padding-top: 8px;
  }
  div.container dd {
  padding-top: 8px;
  }
  div.container dt {
  padding-top: 8px;
  }
  #kurorubykaigi {
  background-color: #000;
  background-image: url(img/kuro_bg.png);
  min-height: 100%;
  width: 100%;
  color: #777;
  font-family:"Times New Roman","ヒラギノ明朝 Pro",Hiragino Mincho Pro, HiraMinProN-W3,"ＭＳ Ｐ明朝", "MS PMincho",serif;
  }
  #kurorubykaigi .row-fluid {
  max-width: 940px;
  margin: 80px auto 80px;
  padding: 20px;
  background: rgba(0, 0, 0, .4);
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 1) inset;
  }
  #kurorubykaigi .page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: none;
  }
  #kurorubykaigi .kuro_header {
  width: 40%;
  display: block;
  margin: 0 auto 60px;
  }
  #kurorubykaigi .kuro_footer {
  width: 40%;
  display: block;
  margin: 60px auto 30px;
  }
  #kurorubykaigi .page-header h1 {
  text-align: center;
  font-size: 52px;
  text-shadow: rgba(255, 255, 255, .7) 0 -1px 0;
  margin: 0 0 10px;
  letter-spacing: 6px;
  }
  #kurorubykaigi .page-header h1 span {
  letter-spacing: 0px;
  margin: 0 6px 0 0;
  }
  #kurorubykaigi .page-header .lead {
  text-align: center;
  font-size: 16px;
  text-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  margin: 0;
  }
  #kurorubykaigi .kuro_body {
  text-align: center;
  }
  #kurorubykaigi .kuro_body .description {
  margin: 0 0 40px;
  }
  #kurorubykaigi .kuro_body h2 {
  font-size: 32px;
  margin: 0 0 10px;
  }
  #kurorubykaigi .kuro_body h2.other {
  margin: 0 0 20px;
  }
  #kurorubykaigi .kuro_body .sasaXX {
  width: 170px;
  margin: 0 0 20px;
  }
  #kurorubykaigi .kuro_body .lead {
  font-size: 18px;
  }
  #kurorubykaigi .kuro_body .lead:before,
  #kurorubykaigi .kuro_body .lead:after {
  content: "〜";
  }
</style>
<script type="text/javascript">
  //<![CDATA[
    var wH = $(window).height();
    //alert (wH);
    $(function(){
        $('#kurorubykaigi').css('min-height',wH+'px');
    });
  //]]>
</script>
<div class="container" id="kurorubykaigi">
  <div class="row-fluid">
    <div class="page-header">
      <img class="kuro_header" src="/img/kuro_header.png" />
      <h1>
        黒<span>Ruby</span>会議 Not Found
      </h1>
    </div>
  </div>
</div>
