<style text="text/css">
  span.strike {
    color: gray;
    text-decoration: line-through;
  }
  .important {
    font-weight: bold;
    color: red;
  }
  .kuro {
    margin: 20px 0;
    width: 120px;
    height: 120px;
  }
  div.container p {
    line-height: 1.8;
  }
  div.container li {
    padding-top: 8px;
  }
  div.container dd {
    padding-top: 8px;
  }
  div.container dt {
    padding-top: 8px;
  }
</style>

<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h1>黒Ruby会議</h1>
      <p class="lead">
        1日目 1/13(日) 19:45-21:00 2F メインホール
      </p>
    </div>
    <div>
      <h2>開催趣旨</h2>
      <p class="lead">
        黒Ruby会議とはなんぞや？
      </p>
      <p>
        最近TwitterやFacebookなどでみなさん楽しく投稿していると思います。<br>
        しかしこれらのサービスは基本的には投稿内容が誰でも見れてしまうという問題ががが。<br>
        <span class="important">じゃあ黒い発言（あんなことやこんなこと）はどこでしたらいいんだ！？</span><br>
        そう感じる場面って多いんじゃないかと思うんですよね、わかります。<br>
      </p>
      <p>
        そこで黒Ruby会議と銘打って、発表者の人たちに普段なかなか出来ない<span class="strike"> 面白い話 </span>黒い話をしてもらおうYO!という企画です。<br>
        内容は発表者の方次第となっていてどんなハプニングが起こるかわかりませんが、ぜひご参加ください。<br>
        あと、発表したいっていう方がいれば tokyo10 at rubykaigi.org までご連絡ください :)
      </p>

      <div class="kuro"><img src="/img/kuro.png" /></div>

      <h2>その他の情報</h2>
      <p>
        LT (LightningTalk) 形式でやります。司会は <a href="http://twitter.com/sasata299" target="_blank">@sasata299</a> の予定。<br>
        発表者は多分10人くらい ＼(^o^)／
      </p>
    </div>
  </div>
</div>
