<style text="text/css">
  span.strike {
    color: gray;
    text-decoration: line-through;
  }
  div.container p {
    line-height: 1.8;
  }
  div.container li {
    padding-top: 8px;
  }
  div.container dd {
    padding-top: 8px;
  }
  div.container dt {
    padding-top: 8px;
  }
</style>
<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h1>大和田Ruby会議</h1>
      <p>2/10(日)の晩、東京Ruby会議10 3日目（会場：渋谷区文化総合センター 大和田 さくらホール 開場18:45 開会19:15）の開会直前の19時頃に、大和田Ruby会議を開催します。</p>
      <h3>大和田Ruby会議 開催情報</h3>
      <p><a href="http://rubykaigi.tdiary.net/20130203.html#p01">RubyKaigi日記のアナウンスをご参照ください。</a></p>
      <h3>発表者情報</h3>
      <table class="table">
        <tr>
          <th width="100px">名前</th>
          <td>大和田純</td>
        </tr>
        <tr>
          <th>Twitter</th>
          <td><a href="http://twitter.com/june29/">@june29</a></td>
        </tr>
        <tr>
          <th>URL</th>
          <td><a href="http://june29.jp/">http://june29.jp/</a></td>
        </tr>
        <tr>
          <th>所属</th>
          <td>Ruby札幌</td>
        </tr>
        <tr>
          <th>発表タイトル</th>
          <td>Ruby cruising Love</td>
        </tr>
        <tr>
          <th>発表概要</th>
          <td>Rubyistである私が、プログラマとしてどんなことを考えて過ごしているか。あるいは、Rubyistである私が、人間としてどんなことを考えて過ごしているかをお話します。</td>
        </tr>
      </table>
    </div>
  </div>
</div>
