
<div class="container">
  <div class="row-fluid"> 
    <!-- main span -->
    <h1> 東京Ruby会議10 プログラム </h1>
    <section class='page-header'>
      <h2> 発表セッションリスト(9/26 速報版) </h2>
      <div class="row-fluid">
        <table class="table table-condensed table-striped">
          <tr>
            <th>タイトル</th>
            <th>発表者</th>
          </tr>
          <tr>
            <td> (TBA) </td>
            <td> do_aki </td>
          </tr>
          <tr>
            <td> (TBA) </td>
            <td> joker1007 </td>
          </tr>
          <tr>
            <td> 東京にきて僕が作ったものについて </td>
            <td> Jun Fukaya </td>
          </tr>
          <tr>
            <td> The Everything Machine </td>
            <td> Ryo Nakamura </td>
          </tr>
          <tr>
            <td> 自分の道具を知る </td>
            <td> ryopeko </td>
          </tr>
          <tr>
            <td> Fluentd: The ruby-based middleware across the world </td>
            <td> tagomoris </td>
          </tr>
          <tr>
            <td> やさしいRails勉強会@東京のつづけ方 </td>
            <td> takkanm </td>
          </tr>
          <tr>
            <td> (TBA) </td>
            <td> ursm </td>
          </tr>
          <tr>
            <td> ボッチを脱出するために必要だったと思われる3つの事柄 </td>
            <td> すがまさお </td>
          </tr>
          <tr>
            <td> Inside Tripclip </td>
            <td> ダニー </td>
          </tr>
          <tr>
            <td> 本当はこわいエンコーディングの話 </td>
            <td> とみたまさひろ </td>
          </tr>
          <tr>
            <td> (TBA) </td>
            <td> まつもとゆきひろ </td>
          </tr>
          <tr>
            <td> DBAからRailsエンジニアになって、モデルがふくよかなことに気がついた。 </td>
            <td> 三浦　美咲樹 </td>
          </tr>
          <tr>
            <td> Rubyと過ごした半年間 </td>
            <td> 井原正博 </td>
          </tr>
          <tr>
            <td> ブログのススメ </td>
            <td> 前島真一 </td>
          </tr>
          <tr>
            <td> Rubyによる分散処理 </td>
            <td> 前橋孝広 </td>
          </tr>
          <tr>
            <td> 「co-meetingの作り方。」 </td>
            <td> 吉田　雄哉 </td>
          </tr>
          <tr>
            <td> 「Padrino in Production」 </td>
            <td> 塩谷 啓 </td>
          </tr>
          <tr>
            <td> みんなで沖縄に集まって Rails Hackathon をやってみた。 </td>
            <td> 安川　要平 </td>
          </tr>
          <tr>
            <td> 50人近くのプログラマと話してわかったプログラマ像/デザイナーから見た、プログラマ達との理想的な付き合い方 </td>
            <td> 小西智也 </td>
          </tr>
          <tr>
            <td> 初心者エンジニアのスタートアップにおけるシステム構築の失敗 </td>
            <td> 春山誠 </td>
          </tr>
          <tr>
            <td> 軽量Rubyで実現する柔軟なルータ -SEILへの軽量Rubyの組み込み- </td>
            <td> 曽我部 崇 </td>
          </tr>
          <tr>
            <td> (TBA) </td>
            <td> 本間　紀史 </td>
          </tr>
          <tr>
            <td> 日本酒評価サイトとnDD </td>
            <td> 河野　誠 </td>
          </tr>
          <tr>
            <td> RubyMotion ではじめる！楽しい iOS アプリ開発。 </td>
            <td> 海老沢 聡 </td>
          </tr>
          <tr>
            <td> Sole Rubyist's Fight </td>
            <td> 海野弘成 </td>
          </tr>
          <tr>
            <td> できる！１人で作るWebサービス開発。 </td>
            <td> 瀬宮　新 </td>
          </tr>
          <tr>
            <td> レシピ検索開発のレシピ </td>
            <td> 牧本 慎平 </td>
          </tr>
          <tr>
            <td> 趣味とRubyと私 </td>
            <td> 生井智司 </td>
          </tr>
          <tr>
            <td> (TBA) </td>
            <td> 田垣亜季 </td>
          </tr>
          <tr>
            <td> 周囲の助けを得ながら楽しく開発するためのアレコレ </td>
            <td> 蓮尾高志 </td>
          </tr>
          <tr>
            <td> Rails と自動テストやCIのこと </td>
            <td> 西川茂伸 </td>
          </tr>
          <tr>
            <td> Herokuでつくる50人のためのRailsアプリ </td>
            <td> 鳥井雪 </td>
          </tr>
          <tr>
            <td> (TBA)</td>
            <td>(TBA)</td>
          </tr>
        </table>
      </div>
      <h2>他のセッションは現在企画中です。乞うご期待！</h2>
      <div class="row-fluid"> </div>
      <h2></h2>
    </section>
    <!-- /main span --> 
  </div>
</div>
