<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h1>タイムテーブル</h1>
    </div>

    <h2>1月13日（日）</h2>

    <table class="timetable table table-condensed table-striped">
    <tr>
    <td class="time">9:45-10:00</td>
    <td class="title-only"><div class="title">開会</div></td>
    </tr>
    <tr>
    <td class="time">10:00-10:15</td>
    <td class="name-and-title"><div class="name">井原正博</div><div class="title"><a href="/speakers/49">Rubyと過ごした半年間</a></div></td>
    </tr>
    <tr>
    <td class="time">10:15-10:30</td>
    <td class="name-and-title"><div class="name">takkanm</div><div class="title"><a href="/speakers/58">やさしいRails勉強会@東京のつづけ方</a></div></td>
    </tr>
    <tr>
    <td class="time">10:30-10:45</td>
    <td class="name-and-title"><div class="name">安川　要平</div><div class="title"><a href="/speakers/19">みんなで沖縄に集まって Rails Hackathon をやってみた。</a></div></td>
    </tr>
    <tr>
    <td class="time">10:45-11:00</td>
    <td class="title-only"><div class="title">小休憩</div></td>
    </tr>
    <tr>
    <td class="time">11:00-11:15</td>
    <td class="name-and-title"><div class="name">生井智司</div><div class="title"><a href="/speakers/42">趣味とRubyと私</a></div></td>
    </tr>
    <tr>
    <td class="time">11:15-13:30</td>
    <td class="title-only"><div class="title">昼休憩</div></td>
    </tr>
    <tr>
    <td class="time">13:30-13:45</td>
    <td class="name-and-title"><div class="name">吉田　雄哉</div><div class="title"><a href="/speakers/17">「co-meetingの作り方。」</a></div></td>
    </tr>
    <tr>
    <td class="time">13:45-14:00</td>
    <td class="name-and-title"><div class="name">春山誠</div><div class="title"><a href="/speakers/34">初心者エンジニアのスタートアップにおけるシステム構築の失敗</a></div></td>
    </tr>
    <tr>
    <td class="time">14:00-14:15</td>
    <td class="title-only"><div class="title">小休憩</div></td>
    </tr>
    <tr>
    <td class="time">14:15-14:30</td>
    <td class="name-and-title"><div class="name">松村 章弘</div><div class="title"><a href="/speakers/80">Rails向けモバイルアプリ開発フレームワーク Pera をリリース！</a></div></td>
    </tr>
    <tr>
    <td class="time">14:30-14:45</td>
    <td class="name-and-title"><div class="name">r7kamura</div><div class="title"><a href="/speakers/69">The Everything Machine</a></div></td>
    </tr>
    <tr>
    <td class="time">14:45-15:00</td>
    <td class="name-and-title"><div class="name">とみたまさひろ</div><div class="title"><a href="/speakers/70">本当はこわいエンコーディングの話</a></div></td>
    </tr>
    <tr>
    <td class="time">15:00-15:30</td>
    <td class="title-only"><div class="title">小休憩</div></td>
    </tr>
    <tr>
    <td class="time">15:30-15:45</td>
    <td class="name-and-title"><div class="name">西川茂伸</div><div class="title"><a href="/speakers/27">Rails と自動テストやCIのこと</a></div></td>
    </tr>
    <tr>
    <td class="time">15:45-16:00</td>
    <td class="name-and-title"><div class="name">牧本 慎平</div><div class="title"><a href="/speakers/68">レシピ検索開発のレシピ</a></div></td>
    </tr>
    <tr>
    <td class="time">16:00-16:15</td>
    <td class="name-and-title"><div class="name">前橋孝広</div><div class="title"><a href="/speakers/52">Rubyによる分散処理</a></div></td>
    </tr>
    <tr>
    <td class="time">16:15-16:30</td>
    <td class="title-only"><div class="title">小休憩</div></td>
    </tr>
    <tr>
    <td class="time">16:30-16:45</td>
    <td class="name-and-title"><div class="name">田垣亜季</div><div class="title"><a href="/speakers/38">プログラミング未経験なんて怖くない！(仮)</a></div></td>
    </tr>
    <tr>
    <td class="time">16:45-17:00</td>
    <td class="name-and-title"><div class="name">蓮尾高志</div><div class="title"><a href="/speakers/48">周囲の助けを得ながら楽しく開発するためのアレコレ</a></div></td>
    </tr>
    <tr>
    <td class="time">17:00-17:15</td>
    <td class="name-and-title"><div class="name">河野　誠</div><div class="title"><a href="/speakers/16">日本酒評価サイトとnDD</a></div></td>
    </tr>
    <tr>
    <td class="time">17:15-17:30</td>
    <td class="title-only"><div class="title">小休憩</div></td>
    </tr>
    <tr>
    <td class="time">17:30-17:45</td>
    <td class="name-and-title"><div class="name">塩谷 啓</div><div class="title"><a href="/speakers/2">「Padrino in Production」</a></div></td>
    </tr>
    <tr>
    <td class="time">17:45-18:00</td>
    <td class="name-and-title"><div class="name">ダニー</div><div class="title"><a href="/speakers/35">Inside Tripclip</a></div></td>
    </tr>
    <tr>
    <td class="time">18:00-18:15</td>
    <td class="name-and-title"><div class="name">do_aki</div><div class="title"><a href="/speakers/4">PHP と Ruby の架け橋 (仮)</a></div></td>
    </tr>
    <tr>
    <td class="time">18:15-19:45</td>
    <td class="title-only"><div class="title">夕休み</div></td>
    </tr>
    <tr>
    <td class="time">19:45-21:00</td>
    <td class="title-only"><div class="title">黒Ruby会議</div></td>
    </tr>
    </table>

    <h2>1月14日（月・祝）</h2>

    <table class="timetable table table-condensed table-striped">
    <tr>
    <td class="time">9:45-10:00</td>
    <td class="title-only"><div class="title">アナウンス</div></td>
    </tr>
    <tr>
    <td class="time">10:00-10:15</td>
    <td class="title-only"><div class="title">Matz</div></td>
    </tr>
    <tr>
    <td class="time">10:15-10:30</td>
    <td class="name-and-title"><div class="name">曽我部 崇</div><div class="title"><a href="/speakers/37">軽量Rubyで実現する柔軟なルータ -SEILへの軽量Rubyの組み込み-</a></div></td>
    </tr>
    <tr>
    <td class="time">10:30-10:45</td>
    <td class="name-and-title"><div class="name">tagomoris</div><div class="title"><a href="/speakers/40">Fluentd: The ruby-based middleware across the world</a></div></td>
    </tr>
    <tr>
    <td class="time">10:45-11:00</td>
    <td class="title-only"><div class="title">小休憩</div></td>
    </tr>
    <tr>
    <td class="time">11:00-11:15</td>
    <td class="name-and-title"><div class="name">本間　紀史</div><div class="title"><a href="/speakers/12">（仮）Ruby、RoRでのオフショア開発をハノイで行ってみたら・・・</a></div></td>
    </tr>
    <tr>
    <td class="time">11:15-11:30</td>
    <td class="name-and-title"><div class="name">Jun Fukaya</div><div class="title"><a href="/speakers/56">東京にきて僕が作ったものについて</a></div></td>
    </tr>
    <tr>
    <td class="time">11:30-13:15</td>
    <td class="title-only"><div class="title">昼休み</div></td>
    </tr>
    <tr>
    <td class="time">13:15-13:30</td>
    <td class="name-and-title"><div class="name">海野弘成</div><div class="title"><a href="/speakers/63">Sole Rubyist's Fight</a></div></td>
    </tr>
    <tr>
    <td class="time">13:30-13:45</td>
    <td class="name-and-title"><div class="name">joker1007</div><div class="title"><a href="/speakers/9">「Rails設計入門」
    or
    「Rubyでリファクタリングを学ぶ」
    or
    「RubyistのためのHaskell入門」</a></div></td>
    </tr>
    <tr>
    <td class="time">13:45-14:00</td>
    <td class="name-and-title"><div class="name">前島真一</div><div class="title"><a href="/speakers/51">ブログのススメ</a></div></td>
    </tr>
    <tr>
    <td class="time">14:00-14:15</td>
    <td class="title-only"><div class="title">小休憩</div></td>
    </tr>
    <tr>
    <td class="time">14:15-14:30</td>
    <td class="name-and-title"><div class="name">三浦　美咲樹</div><div class="title"><a href="/speakers/72">DBAからRailsエンジニアになって、モデルがふくよかなことに気がついた。</a></div></td>
    </tr>
    <tr>
    <td class="time">14:30-14:45</td>
    <td class="name-and-title"><div class="name">瀬宮　新</div><div class="title"><a href="/speakers/32">できる！１人で作るWebサービス開発。</a></div></td>
    </tr>
    <tr>
    <td class="time">14:45-15:15</td>
    <td class="title-only"><div class="title">コミュニティアピール</div></td>
    </tr>
    <tr>
    <td class="time">15:15-15:30</td>
    <td class="title-only"><div class="title">小休憩</div></td>
    </tr>
    <tr>
    <td class="time">15:30-15:45</td>
    <td class="name-and-title"><div class="name">ursm</div><div class="title"><a href="/speakers/3">Introduction to Ember.js</a></div></td>
    </tr>
    <tr>
    <td class="time">15:45-16:00</td>
    <td class="name-and-title"><div class="name">海老沢 聡</div><div class="title"><a href="/speakers/47">RubyMotion ではじめる！楽しい iOS アプリ開発。</a></div></td>
    </tr>
    <tr>
    <td class="time">16:00-16:15</td>
    <td class="name-and-title"><div class="name">小西智也</div><div class="title"><a href="/speakers/57">50人近くのプログラマと話してわかったプログラマ像/デザイナーから見た、プログラマ達との理想的な付き合い方</a></div></td>
    </tr>
    <tr>
    <td class="time">16:15-16:30</td>
    <td class="title-only"><div class="title">小休憩</div></td>
    </tr>
    <tr>
    <td class="time">16:30-16:45</td>
    <td class="name-and-title"><div class="name">ryopeko</div><div class="title"><a href="/speakers/7">自分の道具を知る</a></div></td>
    </tr>
    <tr>
    <td class="time">16:45-17:00</td>
    <td class="name-and-title"><div class="name">すがまさお</div><div class="title"><a href="/speakers/73">ボッチを脱出するために必要だったと思われる3つの事柄</a></div></td>
    </tr>
    <tr>
    <td class="time">17:00-17:15</td>
    <td class="name-and-title"><div class="name">鳥井雪</div><div class="title"><a href="/speakers/60">Herokuでつくる50人のためのRailsアプリ</a></div></td>
    </tr>
    <tr>
    <td class="time">17:15-17:30</td>
    <td class="title-only"><div class="title">事務連絡</div></td>
    </tr>
    <tr>
    <td class="time">17:30-19:00</td>
    <td class="title-only"><div class="title">夕休み</div></td>
    </tr>
    <tr>
    <td class="time">19:00-20:30</td>
    <td class="title-only"><div class="title">地元Ruby会議</div></td>
    </tr>
    <tr>
    <td class="time">20:30-20:45</td>
    <td class="title-only"><div class="title">閉会の挨拶</div></td>
    </tr>
    </table>
  </div>
</div>