<div class="container">
  <div class="row">
    <!-- main span -->
    <div class="span8">
      <h1>準備中</h1>
    </div>
    <!-- /main span -->
    <!-- right span -->
    <div class="span4">
    </div>
    <!-- /right span -->
  </div>
</div>
