<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h1> 東京Ruby会議10 ワークショップ</h1>
    </div>
    <h2><a href="https://github.com/prog4designer"  target="_blank" class="presenter">#p4d</a><br />「Rubyistのためのデザイン講座」</h2>
    <p>現役デザイナーさんにデザインが苦手なRubyistでも手間をかけずにそれっぽく見せるデザインのコツやワザを教えてもらえる講座です。簡単なハンズオンも予定しています。</p>
    <ul>
      <li>開催場所: 2F会議室</li>
      <li>開催時間: 13日（日）12:00-18:00</li>
    </ul>
    <h3>タイムスケジュール</h3>
    <table class="table table-bordered">
      <tr>
        <th class="schtime">時間</th>
        <th>内容</th>
        <th>備考</th>
      </tr>
      <tr>
        <td>12:30 - 13:30</td>
        <td>発表1: @machida さん / 「RailsエンジニアのためのTwitter Bootstrapカスタマイズ例」</td>
        <td>ライブコーディングもあるよ！</td>
      </tr>
      <tr>
        <td>13:50 - 14:50</td>
        <td>発表2: @ken_c_lo さん / 「少ない手間と知識で "それなり" に見せる、ズルいデザインテクニック」</td>
        <td></td>
      </tr>
      <tr>
        <td>15:10 - 16:10</td>
        <td>発表3: @saucerjp さん / 「ノンデザイナーのための配色理論」</td>
        <td></td>
      </tr>
      <tr>
        <td>16:30 - 17:45</td>
        <td>実習: オトナの塗り絵で学ぶデザイン</td>
        <td class="alert alert-block">参加される方は課題のリポジトリをcloneしておいてください！<br />
          <a href="https://github.com/prog4designer/tkrk10-hands-on">https://github.com/prog4designer/tkrk10-hands-on</a></td>
      </tr>
    </table>
    <h3>諸注意</h3>
    <ul>
      <li>参加希望者多数の場合は先着となりますのでご了承ください。</li>
      <li>発表1〜3は基本的に <a href="http://connpass.com/event/1185/">第一回 プログラマ向けデザイン勉強会</a> の発表の再演となります。</li>
      <li>実習コーナーは時間の関係上色選びに特化した実習としました。ご了承ください。</li>
      <li>「オトナの塗り絵で学ぶデザイン」コーナーに参加される方は事前に課題のリポジトリをcloneしておいてください。<br />
          <a href="https://github.com/prog4designer/tkrk10-hands-on">https://github.com/prog4designer/tkrk10-hands-on</a></li>
    </ul>
  </div>
</div>

<style type="text/css">

body{
  background: url("/img/workshops/p4d/cream_dust.png") repeat top center;
}
.page-header{
}

.page-header h1{
  font-size: 16px;
  color: #aaa;
  font-weight: normal;
}

.row-fluid{
  padding-bottom: 60px;
}

.row-fluid h2{
  font-size: 48px;
  line-height: 1.15;
  text-indent: 30px;
  margin-top: 24px;
  margin-left: -28px;
  margin-bottom: 46px;
  color: #000035;
}

.row-fluid h2 .presenter{
  font-size:24px;
  color: #888;
}

.row-fluid p{
  font-size: 16px;
  line-height: 1.6;
}

.row-fluid ul{
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-fluid ul li{
  line-height: 1.4;
  margin-bottom:0.5ex;
  font-size:16px;
}

.row-fluid h3{
  margin-top: 60px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-left: 7px solid #000035;
  border-bottom: 1px solid #000035;
}

.row-fluid .table{
}

.row-fluid .table tr{ 
  background-color: #fff;
}

.row-fluid .table tr:nth-child(odd){
  background-color: #f9f9f9;
}

.row-fluid .table th{
  background-color: #000035;
  color: #eee;
  padding: 1em 1em;
  text-align:center;
}

.row-fluid .table tr:hover th{
  background-color: #000035;
  color: #eee;
  padding: 1em 1em;

  
}
.row-fluid .table td{
  padding: 1em 1em;
}

.row-fluid .table .schtime{
  width: 7em;
}

.row-fluid .table .alert{
  color: #c00;
  font-weight: bold;
  text-shadow: #fff 1px 1px 0px;
  -webkit-text-shadow: #fff 1px 1px 2px;
}

</style>

