<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h1> 東京Ruby会議10 ワークショップ</h1>
    </div>
    <h2>#p4d 「Rubyistのためのデザイン講座」</h2>
    <p>現役デザイナーさんにデザインが苦手なRubyistでも手間をかけずにそれっぽく見せるデザインのコツやワザを教えてもらえる講座です。</p>
    <p>簡単なハンズオンも予定しています。</p>
    <ul>
      <li>開催場所: 2F会議室</li>
      <li>開催時間: 13日（日）12:00-18:00</li>
    </ul>
  </div>
</div>
