<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h1> 東京Ruby会議10 ワークショップ</h1>
    </div>
    <h2>すくすくスクラム オープンスペース</h2>
    <ul>
      <li>開催場所: 4F会議室</li>
      <li>開催時間: 14日（月・祝）12:45-17:45</li>
      <li>認定スクラムプロフェッショナルと、一緒に疑問を探求しませんか。</li>
      <li>プログラム上、大きく時間を取っていますが途中の出入りは【自由】です。</li>
      <li></li>
      <li>最近良く聞く「スクラム」って何？という質問や、スクラムを実践していく上で疑問に思っていることなどを、みんなで話し合いどうしていくとより良くなるのかを探して行きましょう。</li>
    </ul>
  </div>
</div>
