<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h1> 東京Ruby会議10 ワークショップ</h1>
    </div>
    <h2>すくすくスクラム</h2>
    <ul>
      <li>開催場所: 2F会議室</li>
      <li>開催時間: 14日（月・祝）12:45-17:45</li>
    </ul>
  </div>
</div>
