<div class="container">
  <div class="row-fluid">
    <div class="page-header">
      <h1> 東京Ruby会議10 ワークショップ</h1>
    </div>
    <h2>DELUXURY TORUBY TYO 2013</h2>
    <ul>
      <li>開催場所: 2F会議室</li>
      <li>開催時間: 14日（月・祝）10:30-12:45</li>
  		<li>開催概要: 入門、体験をテーマにしたゆるい勉強会が続いちゃったけど、今年のtoRubyはゆるくもぬるくもないよ。時間たっぷり使って入門の先を垣間見るゴージャスな時間をどうぞ。</li>
			<li>定員: 40名ぐらい？</li>
			<li>準備するもの:</li>
				<ul>
					<li>PC(なければペアプロで！)</li>
					<li>dripのインストール "gem install drip"</li>
					<li>dripとは<a href="http://d.hatena.ne.jp/m_seki+b/20110822/p1">"http://d.hatena.ne.jp/m_seki+b/20110822/p1"</a> </li>
					<li>The dRuby Book</li>
				</ul>
    </ul>
  </div>
</div>
