<header class="bigtitle subhead" id="overview">
  <div class="container">
      <img src="/img/title.png" alt='Tokyo Ruby Kaigi 10 “Talk, Gather, Everyday Ruby, Ruby Every Day”'>
  </div>
</header>
<div class="container">
  <section>
    <div class='page-header'>
      <h1>What is Tokyo Ruby Kaigi 10?</h1>
    </div>
    <p>Tokyo Ruby Kaigi 10 will be the 10th Regional Ruby Kaigi held in the Tokyo area and will be the largest scale Regional Ruby Kaigi.</p>
    <p>This conference will highlight Rubyists active in the Tokyo Area. With a targeted 800 participants over two days, we plan to have presentations about things developers encounter in their day to day activities.</p>
    <p>Through gathering people interested in Ruby, and discussing everyday development, we hope to kickstart 2013's community activities.</p>
  </section>
  <section>
    <div class="alert alert-error">
      <h3>Warning</h3>
      <p>This is not an international scale event like <strong>the</strong> Ruby Kaigi, but rather a regional event aimed at local Rubyists. Thus, we anticipate most if not all the presentations to be in Japanese. This warning aside, we still welcome people of all backgrounds to join us, and will do our best to provide English information about the event.</p>
    </div>
    <div class='page-header'>
      <h2>Details of the Event</h2>
    </div>
    <ul>
      <li>Name: Tokyo Ruby Kaigi 10</li>
      <li>Date: January 13th (Sunday) and 14th (Monday/National Holiday), 2013</li>
      <li>Location: <a href="https://maps.google.co.jp/maps?q=%E5%8D%83%E8%91%89%E5%B8%82%E7%BE%8E%E6%B5%9C%E3%83%9B%E3%83%BC%E3%83%AB&hl=ja&ie=UTF8&ll=35.636093,140.107269&spn=0.782392,0.896759&sll=35.637232,140.046896&sspn=0.097799,0.112095&brcurrent=3,0x60229b5fd61b9511:0x1cb677dbffe07bbe,0&hq=%E5%8D%83%E8%91%89%E5%B8%82%E7%BE%8E%E6%B5%9C%E3%83%9B%E3%83%BC%E3%83%AB&t=m&z=10" target='_blank'>Chiba City Mima Hall</a> Main Hall 2F, Meeting Room 4F, Rehearsal Hall 4F</li>
      <li>Kemigawahama Station (Keiyō Line) 5 minute walk</li>
      <li>30 minutes from Tokyo Station</li>
      <li>Official Hash Tag <a href='https://twitter.com/#!/search/realtime/%23tkrk10' target='_blank'>#tkrk10</a></li>
      <li>Official Site: <a href='http://regional.rubykaigi.org/tokyo10'>http://regional.rubykaigi.org/tokyo10</a></li>
      <li>Entrance Fee: Under consideration</li>
      <li>Video Streaming: Under consideration</li>
      <li>After Party: Under consideration</li>
      <li>Participants: About 400 people</li>
    </ul>
  </section>
  <section>
    <div class='page-header'>
      <h2>Call for Presentations</h2>
    </div>
    <p>We are now recruiting presenters for the main hall.</p>
    <p>We welcome passionate presentations about something you do everyday or another topic that interests you.</p>
    <h3>Application Procedure</h3>
    <p><a href='http://kokucheese.com/event/index/43342/'>Please apply here (Japanese)</a></p>
    <p>If you need assistance completing the application, please let us know at tokyo10 at rubykaigi dot org.</p>
    <p>The application deadline is 03:00 JST, September 24 2012. We will notify selected presenters in the beginning of October.</p>
    <h3>Merits of Speaking</h3>
    <p>1. Free entrance to Tokyo Ruby Kaigi 10<br>
    Expenses such as travel, lodging, etc, will be the speaker's responsibility.</p>
    <p>2. Special speaker swag.</p>

    <h3>Time limit</h3>
    <p>The time limit is 15 minutes. You can use that time to do your presentation, demo, answer questions, etc. It's ok to take less than 15 minutes too.</p>

    <h3>Theme for Presentations</h3>
    <p>There isn't a particular theme for the presentations. You can for example talk about Ruby itself, or something aimed at beginner Rubyists. We also welcome topics outside of Ruby itself, such as another programming language, or even something that isn't about programming or development.</p>
  </section>
  <section>
    <div class='page-header'>
      <h2>Organizing Team</h2>
    </div>
    <p>The organizing team is a group of volunteers dedicated to the orgaization of Tokyo Ruby Kaigi 10. Through Ruby Kaigi 10, we hope to increase activity among individuals and businesses in the Ruby Community</p>
    <p>If you have any suggestions or questions, feel free to contact us at tokyo10 at rubykaigi dot org.</p>
    <ul>
      <li>Organizing Director: Toshiaki Koshiba</li>
      <li>Tatsuo Sakurai</li>
      <li>Masato Ikeda</li>
      <li>Tatsuya Sasaki</li>
      <li>Masaki Iwamoto</li>
      <li>Paul McMahon</li>
      <li>Hiroyuki Makino</li>
      <li>Misa Kondo</li>
      <li>Yutaro Sugai</li>
      <li>Kensuke Kaieda</li>
      <li>Advisor: Shin-ichiro Ogawa</li>
    </ul>
  </section>
</div>
