section + section {
  padding-top: 10px;
}

body {
  position: relative;
  padding-top: 40px;
}

.bigtitle {
  position: relative;
  padding:20px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #000035; /* Old browsers */
}
.bigtitle h1 {
  font-size: 50px;
  font-weight: bolder;
  line-height: 1;
}
.bigtitle p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}
.brand a {
  color : gray;
}

#gold-sponsors > div + div {
  margin-top: 10px;
}

/* Timetable */
.time {
  width: 10%;
}
.content {
  width: 40%;
}
.workshop {
  width: 40%;
}

.invited {
  background-color: crimson;
  border-radius: 8px;
  color: white;
  padding: 2px 5px;
}

.video {
  background-color: orange;
  border-radius: 8px;
  color: white;
  padding: 2px 5px;
}

#message {
  font-size: 18px;
  line-height: 115%;
  margin: 20px 20px 30px 20px;
  padding: 0px;
}

#message p {
  margin: 0px;
  padding: 0px;
  text-indent: 1em;
}
